.post-module {
  background-color: #fff;
  border: 3px solid #e6e6e6;
  overflow: hidden;
  width: 50vh;
}

.post-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.post-title {
  font-size: 28px;
  font-weight: 600;
  margin: 0 0 10px;
}

.post-meta {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #999;
  margin: 0;
}

.post-meta p {
  margin: 0 10px 0 0;
}

.post-content {
  font-size: 16px;
  line-height: 1.5;
  padding: 20px;
}
.post-userdata
{
  display: flex;
}
span{
  color:#fff;
}
p{

  font-size: 24px;
}
.wrapped-text
{
  width: 100%;
  overflow-wrap: break-word;
  margin-left: 10px;
}